<link rel="stylesheet" href="/css/sign.css"> 

<div class="outerform">
    <div class="input-form">
        <div class="heading"> <h1>Welcome</h1></div>
        <div class="quotes">
            <quotes>
                Small process makes a person big
            </quotes>
        </div>
        
        
    </div>
</div>